<div class="a1example-cont">
<div class="text-center"><h4>Example2: Prints input data dynamically(usage of <b>ng-model</b>)</h4></div>

<ul class="nav nav-tabs">
  <li ui-sref-active="active" ui-sref="" ng-repeat="tab in e1TabList">
  <a><b>{{tab}}</b></a>
  </li>
</ul>
<div class="tab-content"><div id="home" class="tab-pane fade in active" ui-view="tabcontent"></div>

<pre>
<xmp>

<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script> <!-- Step-1 -->
		<script>
			angular.module('myApp', []);<!--Step-2-->
		</script>
	</head>
	<body ng-app="myApp"><!-- Step-3 -->
		<div  ng-init="location='Enter'"> <!-- Step-4 -->
			Enter your birth place: <input type=text ng-model="Enter"/><!-- Step-5 -->
			<p>My Birth Country: { {location}} </p> <!-- Step-6 -->
		</div>
	</body>
</html>
</xmp>
</pre>
<h4>Quidance</h4>
New concepts are below: goto <a>All Steps</a> for complete info
<ul class="list-group">
  <li class="list-group-item al-a1lm-eitem"><b>4.Initialize location(Optional)</b> variable with some text by using ng-init</li>
  <li class="list-group-item al-a1lm-eitem"><b>5.Bind text filed by using ng-model</b> with the model variable(location)</li>
  <li class="list-group-item al-a1lm-eitem"><b>6.Print that variable { {location}}</b> by using { { }} double curly braces</li>
  <li class="list-group-item al-a1lm-eitem"><b>ng-model is and angular directive</b> used in html tags to bind user data from text filed</li>
  <li class="list-group-item al-a1lm-eitem">In more simple ng-model is used to collect data from user and save it in javascrit variable</li>
</ul>
</div>
</div>