<div class="a1example-cont">
<div class="text-center"><h4>Example-6: Adding entries to list by using angular ng-click and looping with ng-repeat directive(usage of <b>ng-click,ng-repeat</b>)</h4></div>

<ul class="nav nav-tabs">
  <li ui-sref-active="active" ui-sref="" ng-repeat="tab in e1TabList">
  <a><b>{{tab}}</b></a>
  </li>
</ul>
<div class="tab-content"><div id="home" class="tab-pane fade in active" ui-view="tabcontent"></div>

<pre>
<xmp>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script> <!-- Step-1 -->
		<script>
			angular.module('myApp', []); <!--Step-2 -->
			angular.module('myApp').controller('mobileController',function($scope){ <!-- Step-3 -->
				$scope.mobileBrandList = ['Apple', 'Samsung', 'Nexes','BlackBerry','HTC'];
				$scope.newBrand="";
				$scope.addBrand = function() {  <!-- Step-4 -->
					$scope.mobileBrandList.push($scope.newBrand);
				};
			});
		</script>
	</head>
	<body ng-app="myApp"><!-- Step-5 -->
		<div  ng-controller="mobileController"> <!-- Step-6 -->
			<ul>
				<li ng-repeat="mobileBrand in mobileBrandList"><!-- Step-7 -->
					{ {mobileBrand}}
				</li>
			</ul>
			<br>
			<input type="text" ng-model="newBrand"/>
			<input type="button" ng-click="addBrand()" value="Add"/><!--Step-8-->
		</div>
	</body>
</html>
</xmp>
</pre>
<h4>Quidance</h4>
New concepts are below: goto <a>All Steps</a> for complete info  
<ul class="list-group">
  <li class="list-group-item al-a1lm-eitem">On click of Add button triggers click event and calls addBrand() function in controller </li>
  <li class="list-group-item al-a1lm-eitem">ng-repeat loops the array dynamically and prints new list in html page</li>
</ul>
</div>
</div>