<div class="a1example-cont">
<div class="text-center"><h4>Example-3: Update mobile number by using angular ng-click directive(usage of <b>ng-click</b>)</h4></div>

<ul class="nav nav-tabs">
  <li ui-sref-active="active" ui-sref="" ng-repeat="tab in e1TabList">
  <a><b>{{tab}}</b></a>
  </li>
</ul>
<div class="tab-content"><div id="home" class="tab-pane fade in active" ui-view="tabcontent"></div>

<pre>
<xmp>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script> <!-- Step-1 -->
		<script>
			angular.module('myApp', []); <!--Step-2 -->
			angular.module('myApp').controller('mobileController',function($scope){ <!-- Step-3 -->
				$scope.mobileNum=9999999;
				$scope.myLatestNum=$scope.mobileNum;
				$scope.updateDetail=function(){   <!--Step-4-->
					$scope.myLatestNum=$scope.mobileNum;
				}
			});
		</script>
	</head>
	<body ng-app="myApp"><!-- Step-5 -->
		<div  ng-controller="mobileController"> <!-- Step-6 -->
			<p>Your mobile number:{{myLatestNum}}</p>
			<p>Update your number</p>
			<input type="number" ng-model="mobileNum"/><br>
			<input type="button" ng-click="updateDetail()" value="Update"/><!--Step-7-->
		</div>
	</body>
</html>
</xmp>
</pre>
<h4>Quidance</h4>
New concepts are below: goto <a>All Steps</a> for complete info  
<ul class="list-group">
  <li class="list-group-item al-a1lm-eitem"><b>4.Define scope function for ng-click event</b> inside controller function for event handling</li>
  <li class="list-group-item al-a1lm-eitem"><b>7.ng-click</b> is used to bind event handler function in html</li>
  <li class="list-group-item al-a1lm-eitem"><b>On click on update button</b>$scope.updateDetail() function in mobileController will be executed and myLatestNum variable is updated with new value</li>
</ul>
</div>
</div>