<div class="a1example-cont">
<div class="text-center"><h4>Example-7: Removing entries from list by using angular ng-click and looping with ng-repeat directive(usage of <b>ng-click,ng-repeat</b>)</h4></div>

<ul class="nav nav-tabs">
  <li ui-sref-active="active" ui-sref="" ng-repeat="tab in e1TabList">
  <a><b>{{tab}}</b></a>
  </li>
</ul>
<div class="tab-content"><div id="home" class="tab-pane fade in active" ui-view="tabcontent"></div>

<pre>
<xmp>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script> <!-- Step-1 -->
		<script>
			angular.module('myApp', []); <!--Step-2 -->
			angular.module('myApp').controller('mobileController',function($scope){ <!-- Step-3 -->
				$scope.mobileBrandList = ['Apple', 'Samsung', 'Nexes','BlackBerry','HTC'];
				$scope.newBrand="";
				$scope.addBrand = function() {  <!-- Step-4 -->
					$scope.mobileBrandList.push($scope.newBrand);
				};
				$scope.remove= function(index) {  <!-- Step-5 -->
					$scope.mobileBrandList.splice(index,1);
				};
			});
		</script>
	</head>
	<body ng-app="myApp"><!-- Step-6 -->
		<div  ng-controller="mobileController"> <!-- Step-7 -->
			<ul>
				<li ng-repeat="(index,mobileBrand) in mobileBrandList"><!-- Step-8 -->
					{{index}}.{{mobileBrand}} <a ng-click="remove(index)"> remove</a>
				</li>
			</ul>
			<br>
			<input type="text" ng-model="newBrand"/>
			<input type="button" ng-click="addBrand()" value="Add"/><!--Step-9-->
		</div>
	</body>
</html>
</xmp>
</pre>
<h4>Quidance</h4>
New concepts are below: goto <a>All Steps</a> for complete info  
<ul class="list-group">
  <li class="list-group-item al-a1lm-eitem"><b>ng-repeat with indexing:</b> index of array element can be get by using (index,item) syntax and first param is index and second param is array element</li>
  <li class="list-group-item al-a1lm-eitem">if we use simple ng-repeat="item in list" gives item alone but we can not use ng-repat="(item) in list"</li>
  <li class="list-group-item al-a1lm-eitem">On click of remove link triggers click event and calls remove() function in controller</li>
</ul>
</div>
</div>