<div class="a1example-cont">
<div class="text-center"><h4>Example-5: Print list of data by using angular looping with ng-repeat directive(usage of <b>ng-repeat in looping</b>)</h4></div>

<ul class="nav nav-tabs">
  <li ui-sref-active="active" ui-sref="" ng-repeat="tab in e1TabList">
  <a><b>{{tab}}</b></a>
  </li>
</ul>
<div class="tab-content"><div id="home" class="tab-pane fade in active" ui-view="tabcontent"></div>

<pre>
<xmp>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script> <!-- Step-1 -->
		<script>
			//define module
			angular.module('myApp', []); <!--Step-2 -->
			//define controller <!-- Step-3 -->
			angular.module('myApp').controller('mobileController',function($scope){
				$scope.mobileBrandList = ['Apple', 'Samsung', 'Nexes','BlackBerry','HTC'];
			});
		</script>
	</head>
	<body ng-app="myApp"><!-- Step-4 -->
		<div  ng-controller="mobileController"> <!-- Step-5 -->
			<ul>
				<li ng-repeat="mobileBrand in mobileBrandList"><!-- Step-6 -->
					{ {mobileBrand}}
				</li>
			</ul>
		</div>
	</body>
</html>


</xmp>
</pre>
<h4>Quidance</h4>
New concepts are below: goto <a>All Steps</a> for complete info  
<ul class="list-group">
  <li class="list-group-item al-a1lm-eitem"><b>6.Looping in html is achieved by angular directive named ng-repeat</b></li>
  <li class="list-group-item al-a1lm-eitem"><b>ng-repeat</b> loops the array or array like objects in html area</li>
  <li class="list-group-item al-a1lm-eitem"><b>ng-repeat="item in List"</b> and item can be used inside tag scope</li>
</ul>
</div>
</div>