<div class="container-fluid">
  <h3>Angular1 Modules To learn basics of Angular js <a ui-sref="home"> Go to basics -></a></h3>
  <div class="row ang1allpanel">
    <div class="panel panel-primary col-sm-3" ng-repeat="comp in cmpDetail">
      <div class="panel-heading" ui-sref="angular1.main.cmp({cname:comp.componentFileName})">Angular {{comp.componentName|uppercase}}</div>
      <div class="panel-body">
      	<div class="list-group">
  			<a class="list-group-item a1-a1c-item" ui-sref="angular1.main.cmp.itemDetail({cname:comp.componentFileName,iname:item.itemFileName})" ui-sref-opts="{reload: true}" ng-repeat="item in comp.items|limitTo:5">{{item.itemName}}</a>
		</div>
      </div>
    </div>
  </div>
</div>
<div ui-view="cmpcontent"></div>