<h2>
ng-if
</h2>
<p>
The ngIf directive removes or recreates a HTML element based on an expression. 
</p>
<p>If the expression assigned to ngIf evaluates to a false value then the element is removed, otherwise the element is added.
</p>

<h2> Directive Info </h2>
<p>
This directive creates new scope.
This directive executes at priority level 600.
This directive can be used as multiElement
</p>
<h3>Usage</h3>
<div class="well">
<pre><code><span class="tag">&lt;ANY</span><span class="pln">
  </span><span class="atn">ng-if</span><span class="pun">=</span><span class="atv">"expression"</span><span class="tag">&gt;</span><span class="pln">
...
</span><span class="tag">&lt;/ANY&gt;</span></code></pre>
</div>
<h4>Example</h4>
<div class="panel">
<pre>
<code class="language-html">
<label>Click me: <input type="checkbox" ng-model="checked" ng-init="checked=true" /></label><br/>
Show when checked:
<span ng-if="checked" class="animate-if">
  This is removed when the checkbox is unchecked.
</span>
</code>
</pre>
</div>