<h2>
ng-bind
</h2>
<p>
The ngBind attribute binds the contents of model to a view.
Whenever the content changes, the view gets updated.</p>
<h2> Directive Info </h2>
<p>
This directive executes at priority level 0.
</p>
<p>Typically, you don't use ngBind directly, but instead you use the double curly markup like {{ expression }} which is similar but less verbose.</p>

<h4>Example</h4>
<div class="panel">
<pre>
<code class="language-html">
<label>Click me: <input type="checkbox" ng-model="checked" ng-init="checked=true" /></label><br/>
Show when checked:
<span ng-if="checked" class="animate-if">
  This is removed when the checkbox is unchecked.
</span>
</code>
</pre>
</div>