<div class="container-fluid">
  <h2>Angular1 Modules</h2>
  <div class="row ang1allpanel">
    <div class="panel panel-primary col-sm-4" ng-repeat="cd in cmpDetail">
      <div class="panel-heading" ui-sref="angular1.main.cmp({cname:cd.fpre})">Angular {{cd.n|uppercase}}</div>
      <div class="panel-body">
      	<div class="list-group">
  			<a class="list-group-item" ui-sref="angular1.main.cmp.itemDetail({cname:cd.fpre,iname:item.f})" ui-sref-opts="{reload: true}" ng-repeat="item in cd.items">{{'ng-'+item.n}}</a>
		</div>
      </div>
    </div>
    <div class="panel panel-primary col-sm-3">
      <div class="panel-heading">Angular Function</div>
      <div class="panel-body">Panel Content</div>
    </div>

    <div class="panel panel-primary col-sm-3">
      <div class="panel-heading">Angular Provider</div>
      <div class="panel-body">Panel Content</div>
    </div>

    <div class="panel panel-primary col-sm-3">
      <div class="panel-heading">Angular Events</div>
      <div class="panel-body">Panel Content</div>
    </div>

    <div class="panel panel-primary col-sm-3">
      <div class="panel-heading">Angular Routers</div>
      <div class="panel-body">Panel Content</div>
    </div>
  </div>
</div>
<div ui-view="cmpcontent"></div>